<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">5-day forecast for {{cityName}}</h3>

    </div>
    <ul class="list-group">
      <!---->
      <li class="list-group-item" *ngFor="let dayWeather of fiveDayWeather">
        {{dayWeather.date | date}}
        {{days[dayWeather.date.getDay()]}}, 
        {{dayWeather.date.getMonth()}}
        {{dayWeather.date.getDate()}} -
        Monday, Mar 23:
        Rain
        - Min: 45
        - Max: 59

        <img class="icon" [src]="dayWeather.weather[0].iconUrl">
      </li>
    </ul>
  </div>
  <a 
    class="btn btn-success" 
    tabindex="0" 
    id="mainPageBtn"
    routerLink="/"
  >
    &lt; Back to main page
</a>
</div>